body { font-family: calibri; }
h1, h2 { text-align: center; }

div {}

a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

tr
{
    vertical-align: top;
}

td
{
    text-indent: 1em;
    text-align: justify;
    padding: 0.5em;
}

.subtitle
{
    font-size: 1.5em;
    font-weight: bold;
}

.footer td
{
    text-align: right;
    font-style: italic;
}
