body
{
    font-family: calibri;
}

h2
{
    text-align: center;
}

div
{
}

p
{
    text-indent: 1em;
    text-align: justify;
    width: 50%;
    padding: 0.5em;
    display: table-cell;
}

div.footer p
{
    text-align: right;
    font-style: italic;
}

.progress
{
    position: absolute;
    right: 10pt;
    top: 10pt;
    text-align: right;
}

.progress p
{
    display: inline;
    margin-left: 2em;
    color: lightgray;
    font-size: 8pt;
}

a.git
{
    position: absolute;
    left: 10pt;
    top: 10pt;
    color: lightgray;
    text-decoration: none;
    font-size: 8pt;
}