body { font-family: calibri; }
h1, h2 { text-align: center; }

div {}

tr
{
    vertical-align: top;
}

td
{
    text-indent: 1em;
    text-align: justify;
    padding: 0.5em;
}

.footer td
{
    text-align: right;
    font-style: italic;
}
